
<div class="row">
    <div class="col-md-5 well contact center-block">
        <h4>
            <b>Contact Us:</b>
        </h4>
        <p class="lead"><b>ASHWINKUMAR & CO.</b></p>
        <p>C-42, Mittal Tower,</p>
        <p>Nariman Point, Mumbai - 400 021. </p>
        <p>TEL: (91) (022) 2285 3986/ 2283 1546/ 2204 4070/ 2284 3516 </p>
        <p>FAX: (91) (022) 2285 3985 </p>
        <p>EMAIL: <a href="mailto:ashwinkumar@mtnl.net.in" target="_top">ashwinkumar@mtnl.net.in</a> / <a href="mailto:ashwin@bom5.vsnl.net.in" target="_top">ashwin@bom5.vsnl.net.in</a></p>
        <br/>
        <p>Work Hours: 10:00 AM to 6:00 PM (Mon-Sat)</p>
        
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15096.571612727956!2d72.8246883!3d18.9250678!3m2!1i1024!2i768!4f13.1!3m3!3m2!1sen!2sin!4v1491018798989" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>
<br/><br/>
<div class="row">
    <p class="lead">Quote Inquiry</p>
    <div class="well col-md-8" id="confirm-form">
        <form>
            <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="John Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="you@example.com">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Phone no.</label>
                <input type="text" class="form-control" id="exampleInputPhone" placeholder="9123456789">
            </div>
            <div class="form-group">
                <label for="exampleInputCompany">Company</label>
                <input type="text" class="form-control" id="exampleInputCompany" aria-describedby="emailHelp" placeholder="ABC Pvt. Ltd.">
            </div>
            <div class="form-group">
                <label for="exampleInputAddress">Address</label>
                <textarea class="form-control" id="exampleInputAddress" placeholder="123, Nariman Point"></textarea>
            </div>
            <div class="form-inline">

                <div class="pull-left">
                    <label for="exampleInputCity">City</label>
                    <select class="form-control" id="exampleInputCity" ng-model="city" ng-options="city.name for city in cities | orderBy:'name'"  style="width:100%">
                        <option value="">Choose City</option>
                    </select>
                </div>
                <div class="pull-right col-md-5">
                    <label for="exampleInputState">State</label>
                    <select class="form-control form-horizontal" id="exampleInputState" ng-disabled="true" ng-model="state" style="width:100%">
                        <option value="">State</option>
                    </select>
                </div>
            </div>
            <br />
            <br /><br />
<br />
            
            <div class="form-group">
                <label for="exampleInputMessage">Message</label>
                <textarea class="form-control" id="exampleInputMessage" placeholder="Enter your message"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-info" type="button">
                    <i class="glyphicon glyphicon-ok-sign"></i> Place Quote Inquiry
                </button>
            </div>
        </form>
    </div>
</div>


